import common.Caddyfile 

{$PROTOCOL}://{$DOMAIN} {
	import spa /index.html
}

{$PROTOCOL}://app.{$DOMAIN} {
	import spa /app/index.html
}

{$PROTOCOL}://auth.{$DOMAIN} {
	import spa /auth/index.html
}

{$PROTOCOL}://notes.{$DOMAIN} {
	import api-proxy notes:3000
}

{$PROTOCOL}://health.{$DOMAIN} {
	import admin-file-server /health-assets
}

{$PROTOCOL}://grafana.{$DOMAIN} {
	import admin-proxy grafana:3000
}

{$PROTOCOL}://prometheus.{$DOMAIN} {
	import admin-proxy prometheus:9090
}
